:root {
  --clr: black;
  --primary-clr: white;
  --border-clr: black;
  --border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  gap: 0 1em;
  background-image: url(https://images.unsplash.com/photo-1504297050568-910d24c426d3?ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}

body ul {
  list-style-type: none;
}

body ul h1 {
  margin: 1rem;
  text-decoration: underline;
}

@media (max-width: 575px) {
  body .body {
    margin-top: 3rem;
  }
}
@media (min-width: 575px) {
  body .body {
    margin-left: 20rem;
  }
}
body .bodyy {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

@media (min-width: 575px) {
  body {
    grid-template-columns: 1fr;
  }

  body .body {
    grid-row: span 1;
    grid-column: span 3;
    padding-bottom: 2rem;
  }
}
nav {
  padding-left: 1rem;
  background: rgba(152, 6, 152, 0.8);
  color: var(--primary-clr);
  grid-row: span 1;
  grid-column: span 2;
  width: 100%;
}

@media (min-width: 575px) {
  nav {
    width: 20rem;
    margin-bottom: 2rem;
    min-height: 100vh;
    position: fixed;
  }
}
@keyframes outro {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(200%);
  }
}
input,
select,
option {
  outline: none;
  padding: 0.2em 0.7em;
}

.addBtn {
  background: var(--primary-clr);
  color: var(--clr);
  border: 2px solid var(--clr);
  position: absolute;
  top: 110%;
  font-size: 1.5rem;
  font-weight: bolder;
  transition: color 200ms ease, background 200ms ease;
}

.addBtn:hover {
  --primary-clr: hsl(120, 77%, 66%);
  --clr: white;
  --border-clr: white;
  outline: var(--primary-clr) 1px solid;
}

@media (max-width: 575px) {
  .addBtn {
    width: 5rem;
    left: 50%;
    margin-left: -2.5rem;
  }
}
@media (min-width: 575px) {
  .addBtn {
    left: 50%;
    width: 4rem;
  }
}
@media (min-width: 693px) {
  .addBtn {
    margin-left: -2rem;
  }
}
.mainContainer {
  position: relative;
  padding: 1rem;
  z-index: 1;
  padding: 1rem;
  line-height: 3em;
  margin: auto;
  margin: 1rem;
  box-shadow: 1px 1px 1px #333;
  transition: transform 200ms ease;
  max-width: 500px;
  width: clamp(300px, 90%, 500px);
}

.mainContainer .deleteBtn {
  border-radius: 50%;
  transition: background 500ms ease;
  transition: color 500ms ease;
}

.mainContainer .deleteBtn:hover {
  background: #d35e5e;
  color: #d3d2d2;
}

.mainContainer div select {
  position: absolute;
  right: 10px;
  top: 80%;
}

.mainContainer div button {
  padding: 0.3rem 1rem;
  text-transform: uppercase;
}

.mainContainer:hover {
  transform: translate(-0.1rem, -0.1rem);
  box-shadow: 1px 1px 1px #333;
}

li :hover {
  cursor: pointer;
}

.low {
  background: rgba(0, 0, 255, 0.9);
  color: white;
}

.high {
  background: rgba(231, 185, 100, 0.9);
}

.urgent {
  background: #c61010;
  color: white;
}

.deleteBtn {
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  background: #ffa9a9;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-content: center;
  font-size: 2rem;
  z-index: 3;
}

.modal {
  position: fixed;
  max-width: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  max-height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  padding: 8%;
  width: 100%;
}

@media (min-width: 575px) {
  .modal {
    width: 100%;
  }
}
.form {
  position: relative;
  width: clamp(50px, 70vw, 400px);
  max-width: 90%;
  background: #fffdfd;
  margin: auto;
  margin-bottom: 1000px;
  height: clamp(60vh, 100vh);
  display: flex;
  gap: 1em;
  flex-direction: column;
  padding: 1rem;
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.projects {
  position: relative;
  transition: all 300ms ease;
  padding-bottom: 1rem;
}

.projects li {
  font-size: 1.3rem;
  margin: 0.1rem;
  text-transform: capitalize;
  font-family: "Courier New", Courier, monospace;
}

.projects li:hover {
  cursor: pointer;
}

.projects .prompt {
  display: grid;
  overflow: hidden;
  transition: all 300ms ease;
  z-index: 3;
  background: var(--primary-clr);
  max-width: 50%;
  margin: auto;
  border-radius: 5px;
  box-shadow: 3px 2px 3px #333;
  gap: 0.5rem;
  padding: 0.5rem;
  position: relative;
  max-height: 1000px;
}

@media (min-width: 575px) {
  .projects .prompt {
    width: 90%;
    max-width: 250px;
  }
}
.projects .prompt .wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 90%;
}

.projects .prompt textarea {
  letter-spacing: 3px;
  margin-top: 1rem;
  max-width: 80%;
  display: block;
  height: 4rem;
  line-height: 1rem;
  background: rgba(128, 128, 128, 0.1);
}

.projects .prompt input[type=button],
.projects .prompt input[type=submit] {
  border-radius: 4px;
}

.projects .prompt input[type=submit] {
  background: rgba(0, 204, 0, 0.5);
}

.projects .prompt input[type=button] {
  background: rgba(204, 41, 0, 0.5);
}

.projects .projectsBtn {
  position: absolute;
  bottom: -25px;
  width: 50px;
  left: 50%;
  margin-left: -25px;
  color: var(--clr);
  background: var(--primary-clr);
  border: 2px solid var(--clr);
}

.projects .projectsBtn:hover {
  --primary-clr:rgba(152, 6, 152, 0.5);
  --clr: white;
  outline: var(--primary-clr) 1px solid;
}

.logo {
  font-size: 2rem;
  text-transform: uppercase;
}

select {
  border: 1px solid #ccc;
  height: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

option {
  background: inherit;
  height: 2rem;
}

.visible {
  transform-origin: top;
  transform: scale(1, 0);
  max-height: 0;
  height: 0px;
  min-height: 0;
  color: transparent;
  margin-bottom: 0;
  transition: padding 1000ms ease-in-out, max-height 1000ms ease-in-out, transform 1000ms ease, margin-bottom 1000ms ease;
}

.visible .prompt * {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.visible .form {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
